.about {
  position: relative;
  margin: 0;
  background-color: #5c5a5a;
  padding: 1rem 0 2rem 0;
}

.about h1 {
  font-size: 7rem;
  font-weight: 700;
  color: ghostwhite;
}
.about h3 {
  margin: 2rem 0;
  font-size: 1rem;
  letter-spacing: 1.5px;
  color: ghostwhite;
}

.about button {
  padding: 8px 12px;
  border: 2px solid ghostwhite;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

.about button:hover {
  background-color: #7b776d;
}

.about .aboutImg {
  transform: translateY(-15%);
}

.about .aboutImg img {
  padding: 12px;
  width: 80%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

/* ABOUT DETAILS */

.about-details {
  margin: 10rem auto;
}

/* media queries */

@media (max-width: 992px) {
}

@media (max-width: 767px) {
  .about {
    overflow-x: hidden;
  }
  .about h1 {
    font-size: 2rem;
  }
  .about h3 {
    width: 90%;
    margin: 1rem 0;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: ghostwhite;
  }

  .about button {
    margin-bottom: 3rem;
  }

  .about .aboutImg {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
  }

  .about .aboutImg img {
    padding: 10px;
    width: 100%;
    height: 100%;
  }
}
