.contact {
  background-color: #2a2a2a;
  width: 100%;
  height: auto;
  position: relative;
}
.contact h2 {
  color: ghostwhite;
  padding-top: 2rem;
}
.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.input-group {
  margin: 12px;
  width: 100%;
  border-radius: 0.3rem;
  background-color: #1c1c1c;
  padding: 10px;
}
.input-group-text,
.input-group input,
.input-group textarea {
  background-color: #1c1c1c;
  border: none;
  /* border: 2px solid ghostwhite; */
  outline: none;
  border-radius: 0.3rem;
}

.input-group i {
  font-size: 1.5rem;
  color: ghostwhite;
}
.input-group input,
.input-group textarea {
  width: 100%;
  color: ghostwhite;
  padding: 0 10px;
}
input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }


.input-group textarea {
  position: relative;
  line-height: 20px;
  height: 100px;
  resize: none;
}
.contact-btn {
  position: relative;
  margin: 2rem 0 0 0;
  padding: 6px 22px;
  border: 2px solid ghostwhite;
  color: ghostwhite;
  background-color: #1c1c1c;
  border-radius: 0.2rem;
}

@media (max-width: 767px) {
  .input-group {
    padding: 0;
  }
  .contact{
  margin-bottom: -3rem;

  }
}
